@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

@import "nav.css";
@import "hero.css";
@import "about.css";
@import "portfolio.css";
@import "contact.css";
@import "footer.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font: 16px "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

.container-star {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.container-star > img {
  margin: 0 10px;
}

.container-star > span.risk-white {
  width: 110px;
  border-bottom: 3px solid #fff;
}

.container-star > span.risk-blue {
  width: 110px;
  border-bottom: 3px solid #2c3e50;
}
